
.main {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  color: rgb(51, 51, 51);
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 573px;
  width: 718px;
  text-align: center;


  &__popup {
    background: url('../../public/images/gamefon.svg') 100% 100% no-repeat; /* Добавляем фон */
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: Montserrat, "Open Sans", sans-serif;
    content: "";
    height: 136px;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;


    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      height: 100%;
      width: 100%;
      background: transparent linear-gradient(271deg, rgba(168, 129, 253, 0.53), rgb(89, 0, 177));
    }

  }

  &__popup-title {
    margin-bottom: 4px;
    font-size: 30px;
    font-weight: 800;
    height: 30px;
    line-height: 50px;
  }

  &__popup-subtitle {
    font-size: 18px;
    font-weight: 400;
    margin: 5px;
    height: auto;
    letter-spacing: normal;
    line-height: 36px;
  }

  &__popup-container {
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &__button {
    content: "";
    background-color: rgb(96, 57, 170);
    border-style: solid;
    border-image-repeat: stretch;
    border-image-source: none;
    border-color: rgb(96, 57, 170);
    border-width: 1px;;
    border-radius: 50px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 56px;
    letter-spacing: 0.5px;
    line-height: 22.4px;
    margin: 40px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 16px 40px;
    position: relative;
    text-align: center;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-transform: uppercase;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
    transition-property: transform, box-shadow, -webkit-transform, -webkit-box-shadow;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    vertical-align: top;
    width: 177px;

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        background-image: none;
        background-color: rgb(251, 252, 251);
        opacity: 0.33;
      }
    }
  }

  &_result {

    .main__popup-title {
      font-weight: 200;
    }

    .main__popup {
      margin: 40px 0 0 40px;
      height: 120px;
      width: 632px;
      position: absolute;
      display: block;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: none;
        background-color: rgba(0, 0, 0, .6);
      }
    }

    .main__popup-title {
      position: relative;
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-size: 36px;
      font-weight: 300;
      height: 36px;
      line-height: 36px;
      margin-top: 40px;
      margin-bottom: 10px;
    }
  }

  &__statistics {

  }
}
