.game-wrapper{
    font-size: 16px;
    width: 100%;
    height: 100%;
    overflow: hidden;
  min-width: 288px;
  height: 100%;
  margin: 0;
  padding: 200px;
  font-family: Open Sans,Arial,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,sans-serif;
  color: #333;
  display: block;
}