.statistics{
  position: relative;
  text-align: center;
  vertical-align: middle;
  height: 300px;
  width: 718px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  margin-top: 140px;
  border-spacing: 2px;
  border-color: grey;
  color: #3f3f3f;
  background: #fff;
  font-family: Open Sans,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;

  &__list{
    margin-left: 150px;
    position: absolute;
    width: 70%;
    padding: 50px;
    display: table;
    border-color: rgb(128, 128, 128);
    border-collapse: separate;
    box-sizing: border-box;
    color: rgb(63, 63, 63);
    font-size: 16px;
    font-weight: 600;
    height: 152px;
    text-align: center;
    text-indent: 0px;
  }

  &__item-text{
    font-size: 18px;
    text-align: left;
    color: rgb(153, 153, 153);
    display: table-cell;
    font-weight: 500;
    height: 28px;
    width: 190px;

  }

  &__item-value{
    padding-left: 50px;
    color: rgb(63, 63, 63);
    display: table-cell;
    font-size: 16.08px;
    font-weight: 700;
    height: 28px;
    text-align: left;
    vertical-align: middle;
    width: 130px;
  }


  __item{
    position: absolute;
    border-color: rgb(128, 128, 128);
    box-sizing: border-box;
    color: rgb(63, 63, 63);
    display: table-row;
    font-size: 14px;
    font-weight: 600;
    height: 28px;
    margin-bottom: 10px;
    text-align: left;
    vertical-align: middle;
    width: 322px;
  }
}
