.brick {
  box-sizing: border-box;
  color: rgb(255, 255, 255);

  height: 80px;
  width: 145.5px;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 600;
  line-height: 80px;
  display: flex;
  border: none;
  padding: unset;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  &__number-wrapper {
    width: 100%;
    height: 100%;
  }

  &__finger {
    position: absolute;
    top: 60px;
    left: 65px;
  }

  &_1 {
    width: 145.5px;
    height: 83.3px;
    font-size: 40px;
  }

  &_2 {
    width: 109px;
    height: 62px;
    font-size: 35px;
    line-height: 60px;
  }

  &_3 {
    width: 109px;
    height: 52px;
    font-size: 32px;
    line-height: 50px;
  }

  &_4 {
    width: 87.3px;
    height: 40px;
    font-size: 26px;
    line-height: 40px;
  }

  &__finger {
    pointer-events: none;
  }

  &_rotate-animation {
    .brick__number-wrapper {
      animation: .6s linear infinite rotate-animation;
    }
  }

  &_pulse-animation {
    animation: .4s ease-in infinite alternate pulse;
  }

  &_opacity-animation {
    animation: .4s ease-in infinite alternate blink-anim;
  }

}

@keyframes pulse {
  100% {
    transform: scale(.4);
  }
}

@keyframes rotate-animation {
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes blink-anim {
  100% {
    opacity: 0;
  }
}


