.field {
  user-select: none;
  width: 485px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;


  &__row-bricks {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    height: auto;
    padding: 3px;
  }
}


.fade-enter .field {
  opacity: 0;
  transform: translateX(100%);
}

.fade-enter-active .field {
  opacity: 1;
  transform: translateX(0%);
}

.fade-exit .field {
  opacity: 1;
  transform: translateX(0%);
}

.fade-exit-active .field {
  opacity: 0;
  transform: translateX(-100%);
}

.fade-enter-active .field,
.fade-exit-active .field {
  transition: opacity 500ms, transform 500ms;
}