
.game {
  display: flex;
  flex-direction: column;
  height: 583px;
  width: 678px;
  font-size: 16px;
  position: absolute;
  background: rgb(77, 184, 236) none scroll;
  overflow: hidden;

  &__info {
    position: absolute;
    max-width: 445px;
    min-width: 288px;
    right: 0;
    top: 0;
  }

  &__task {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0 7px 35px 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    height: 102px;
    justify-content: space-between;
    padding: 18px 19.2px;
    text-align: center;
    user-select: none;
    width: 480px;
    margin: 80px 0 60px 105px;
  }

  &__task-text {
    text-align: left;
    width: 380px;
  }

  &__task-value {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 44px;
    font-weight: 600;
    height: 50px;
    line-height: 50.4px;
    position: absolute;
    right: 20px;
    top: 24px;
    width: 100px;
  }

  &__field {
    position: relative;
  }

  &__to-continue{
    margin-top: 50px;
    align-self: center;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 38px;
    text-align: center;
    width: 200px;
}
}




