
.game {
  display: flex;
  flex-direction: column;
  height: 583px;
  width: 678px;
  font-size: 16px;
  position: absolute;
  background-clip: border-box;
  background: rgb(77, 184, 236) none scroll;
  background-origin: padding-box;
  background-size: auto;
  box-sizing: border-box;
  color: rgb(63, 63, 63);
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  user-select: none;
  justify-content: center;

  &__info {
    position: absolute;
    max-width: 445px;
    min-width: 288px;
    padding: 0 16px;
    right: 0;
    text-align: center;
    top: 0;
  }

  &__task {
    align-items: center;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 7px 35px 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    height: 102px;
    justify-content: space-between;
    padding: 24px 19.2px;
    position: absolute;
    text-align: center;
    user-select: none;
    width: 606px;
    margin: 70px 0 100px 40px;
  }
  &__task-text{
    text-align: left;
  }
  &__task-value{
    text-align: right;
  }

  &__field{
    margin: 400px 0 100px 40px;
    position: absolute;
  }
}